<div class="dashboard-container">
    <!-- empeiza toolbar -->
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <h1>S-Inventory</h1>
        <div class="right">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <mat-icon>exit_to_app</mat-icon>
                        Cerrar sesión
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>
    <!-- empieza sidenav -->
     <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56:0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over':'side'"
                           [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <!--profile-->
                <div class="profile-card">
                    <div class="header">
                        <h2>Carlos Andrés</h2>
                        <h4>capc3101gmail.com</h4>
                    </div>
                </div>
            </mat-nav-list>
        </mat-sidenav>
     </mat-sidenav-container>
    <router-outlet></router-outlet>
</div>



